
<body>
    <nav>
        <ul>
          <li>
            <a href="apropos" target="_blank">apropos</a>
     
            <a href="programmetv" target="_blank">programmetv</a>
          </li>
        </ul>
     </nav>
</body>
