body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #9900ff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
h1, h2 {
    color: #000000;
}
main {
    padding: 1rem;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    background: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

